@charset "utf-8";

body, *{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1em;
}

.main .header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(0, 50, 0, 1);
    border-radius: 10px;
}

.main .header h1{
    order: 2;
    font-size: 2.2em;
    align-self: center;
    color: rgba(255, 255, 255, 1);
    font-family: 'Cute Font', cursive;
}

.main .header img{
    order: 1;
    height: 170px;
    width: auto;
    margin-top: 1em;
    z-index: 99;
    box-shadow: 1px 0 20px rgba(0, 0, 0, .5),
                -1px 0 20px rgba(0, 0, 0, .5);
}

.main .container{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 2em 0 2em 10px;
}

.main .container h2{
    font-size: 1.2em;
}

.main .container hr{
    width: 90vw;
    margin: .6em auto;
}

.main .container ul{
    margin-left: 30px;
}

.main .container ul li{
    font-size: .9em;
    font-family: 'Roboto', cursive;
}

.container ul li a{
    font-family: 'Roboto', cursive;
}

.main .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 50, 0);
    width: 100%;
    height: 3.2em;
    border-radius: 10px;
}

.main .footer p{
    font-size: .7em;
    color: rgba(255, 255, 255, 1);
}

.main .footer a{
    color: rgba(255, 255, 255, 1);
}

