@charset "utf-8";

body, *{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1em;
}

.main .header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 4.6em;
    background-color: rgba(0, 50, 0, 1);
    border-radius: 10px;
}

.main .header h1{
    font-size: 2.2em;
    align-self: center;
    margin-left: .8em;
    color: rgba(255, 255, 255, 1);
    font-family: 'Cute Font', cursive;
}

.main .header img{
    height: 100px;
    width: auto;
    margin-top: 1em;
    margin-right: 1em;
    z-index: 99;
    box-shadow: 1px 0 20px rgba(0, 0, 0, .5),
                -1px 0 20px rgba(0, 0, 0, .5);
}

.main .container{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 2em 0 2em 10px;
}

.main .container h2{
    font-size: 1em;
}

.main .container hr{
    width: 100%;
    margin: .6em auto;
}

.main .container ul{
    margin-left: 30px;
}

.main .container ul li{
    font-size: .9em;
}

.main .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 50, 0);
    width: 100%;
    height: 3.2em;
    border-radius: 10px;
}

.main .footer p{
    font-size: .7em;
    color: rgba(255, 255, 255, 1);
}

.main .footer a{
    color: rgba(255, 255, 255, 1);
}




@media(min-width: 400px){
    .main .header h1{
        font-size: 2.4em;
        align-self: center;
        margin-left: 1.8em;
    }
    
    .main .header img{
        height: 150px;
    }

    .main .container hr{
        width: 160%;
    }

    .main .footer p{
        font-size: .8em;
    }
}

@media(min-width: 500px){
    .main .header h1{
        font-size: 3em;
        align-self: center;
        margin-left: 2.2em;
    }

    .main .container h2{
        font-size: 1.4em;
    }

    .main .container hr{
        width: 160%;
    }
}

@media(min-width: 700px){
    .main{
        width: 700px;
        margin: 1em auto;
    }

    .main .header{
        width: 700px;
    }

    .main .header h1{
        font-size: 3.2em;
        align-self: center;
        margin-left: 4em;
    }

    .main .container hr{
        width: 190%;
    }

    .main .header img{
        height: 170px;
    }
}