@media(min-width: 52em){

    header .top-container .headings-box h1{
        font-size: 2.4em;
    }

    header .top-container .headings-box h2{
        font-size: 1.6em;
    }

    .container main .content-box h3{
        font-size: 1.1em;
    }

    h4{
        font-size: .95em;
    }

    nav ul li a{
        font-size: .9em;
    }

    .container main .content-box p{
        font-size: .9em;
    }

    main .content-box .content-box-contact iframe{
        width: 55%;
    }
}

@media(min-width: 75em){

    .container header{
        background-color: rgb(0, 0, 115);
    }

    header .top-container,
    .container main{
        max-width: 75em;
        margin: 0 auto;
    }

    .container header nav{
        margin: 0 auto;
    }

    header nav ul{
        width: 75em;
        margin: 0 auto;
    }

    nav ul li:first-child{
        border-left: 1px solid rgba(0, 0, 115, .3);
    }
}