@charset "utf-8";

*, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(255, 255, 255);
    color: rgb(55, 55, 55);
}

.container, header{
    display: flex;
    flex-direction: column;
}

.container header .top-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: rgb(0, 0, 115);
}

.container header .top-container img{
    height: 100px;
    margin: 0 1rem;
}

header .top-container .headings-box h1{
    margin: 0;
    color: rgb(242, 242, 242);
    font-size: 2em;
    font-family: 'Cabin', sans-serif;
}

header .top-container .headings-box h2{
    margin: 0;
    color: rgb(242, 242, 242);
    font-size: 1.1em;
    font-family: 'Cabin', sans-serif;
}

.container header nav{
    background-color: rgb(70, 181, 224);
    width: 100%;
}

.container header nav #toggleButton{
    display: block;
    margin: .8rem 1rem;
    color: rgb(70, 181, 224);
    background-color: rgb(0, 0, 115);
    border: none;
    border-radius: 4px;
    outline: 0;
    font-size: 1.6rem;
    cursor: pointer;
}

header nav ul.hide{
    display: none;
}

header nav ul li{
    list-style: none;
    text-align: center;
}

nav ul li a{
    display: block;
    color: rgb(55, 55, 55);
    text-decoration: none;
    padding: .8rem 1rem;
    font-size: .8em;
    border-top: 1px solid rgba(0, 0, 115, .3);
}

nav ul li.active a{
    background-color: rgba(215, 215, 215, .8);
    color: rgb(55, 55, 55);
}

nav ul li a:hover{
    background-color: rgba(215, 215, 215);
    color: rgb(55, 55, 55);
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

.container main{
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
}

.container main .content-box{
    margin: 1rem 0;
}

.container main .content-box h1,
.container main .content-box h2,
.container main .content-box p{
    margin: 0 1rem 1rem 1rem;
}


.container main .content-box h1{
    font-size: 1.2rem
}

.container main .content-box h2{
    font-size: 1rem;
}

main .content-box figure{
    max-width: 75em;
    margin: 0;
    padding: 0;
}

main .content-box img{
    width: 100%;
}

main .content-box figcaption{
    text-align: center;
    font-size: .7em;
    margin: 0 1rem 1rem 1rem;
}

main .content-box .content-box-article{
    display: flex;
    flex-direction: column;
}

main .content-box .inside-box h3{
    font-size: .8rem;
    margin: .3rem 0 .3rem 1rem;
}

main .content-box .content-box-contact{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .content-box .inside-box p{
    margin: 0 1rem;
}

.container main .content-box p{
    text-align: justify;
    font-size: .8em;
}

.container main .content-box a{
    font-size: 1em;
}

.container main .content-box strong{
    font-size: 1em;
}

.container main .content-box iframe{
    margin-top: .5rem;
    width: 100%;
    height: 300px;
    border: none;
    outline: none;
}

footer{
    background-color: rgb(0, 0, 115);
    width: 100%;
}

footer .bottom-box{
    margin: 10px 0;
}

footer .bottom-box p{
    display: block;
    text-align: center;
    font-size: .8em;
    color: rgb(215, 215, 215);
}

footer .bottom-box span{
    font-size: .93em;
}