@charset "utf-8";

*, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

main section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section h1{
    margin: 1rem;
    font-size: 1.4rem;
}

section picture img[data-src] {
    filter: blur(.8em);
}

section picture img {
    filter: blur(0em);
    transition: filter .7s;
    border: 25px solid rgba(0, 120, 0);
    border-radius: 10px;
}