@media(min-width: 38em){

    .container header nav #toggleButton{
        display: none;
    }

    header nav ul{
        display: flex;
    }

    header nav ul.hide{
        display: flex;
    }

    header nav ul li{
        text-align: center;
    }

    nav ul li a{
        border: none;
        border-right: 1px solid rgba(0, 0, 115, .3);
    }

    main .content-box figcaption{
        font-size: .8em;
    }

    main .forecast{
        display: flex;
        flex-direction: column;
    }

    main .content-box .content-box-article{
        flex-direction: row;
        justify-content: space-between;
    }

    .content-box .content-box-article p{
        flex: 1 100%;
    }

    .content-box .content-box-article figure{
        margin-right: 1rem;
    }

    .content-box .content-box-article figure figcaption{
        font-size: .8em;
    }

    main .content-box .content-box-contact{
        display: flex;
        justify-content: space-between;
    }

    main .content-box .grid-gallery{
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    main .content-box .grid-gallery figure img{
        height: 250px;
    }

    iframe{
        display: block;
    }

    footer .bottom-box p{
        font-size: .8em;
    }

    footer .bottom-box span{
        font-size: 1em;
    }
}