@media(min-width: 1028px){

    nav ul{
        padding-left: 2%;
    }

    nav li{
        width: auto;
    }

    nav a{
        padding: .5rem 1rem;
    }
    
    header, nav, main, footer{
        max-width: 75rem;
        margin: auto;
    }

    main figure{
        width: 31%;
    }

    div.news{
        column-count: 3;
    }
} /* END OF MEDIA QUERY */