@media(min-width: 32.5em){
    header nav ul{
        display: flex;
        justify-content: space-around;
    }

    nav ul li{
        float: left;
        width: 20%;
    }

    nav ul li a{
        font-size: .7em;
    }

    nav ul .liDrop{
        width: 25%;
    }

    nav ul .liDrop .ulDrop{
        position: absolute;
        width: 20%;
    }

    nav ul .liDrop .ulDrop li{
        width: 100%;
    }

    .content-box .towns{
        grid-template-columns: repeat(1, minmax(150px, 1fr));
        max-width: 72em;
    }

    .towns section h2{
        font-size: 1.4rem;
    }

    .content-box .sketch{
        width: 30em;
        margin: 0 auto;
    }

    .content-box figure img,
    footer figure img{
        margin: 0 auto;
    }
}

@media(min-width: 32.5em) and (max-width: 52em){
    .content-box .towns section:nth-child(odd){
        justify-self: start;
        width: 50%;
    }

    .content-box .towns section:nth-child(even){
        justify-self: end;
        width: 50%;
    }
}