@media(min-width: 38em){

    .container header nav #toggleButton{
        display: none;
    }

    header nav ul{
        display: flex;
    }

    header nav ul.hide{
        display: flex;
    }

    header nav ul li{
        text-align: center;
    }

    nav ul li a{
        border: none;
        border-right: 1px solid rgba(0, 0, 115, .3);
    }

    main .content-box figcaption{
        font-size: .8em;
    }

    main .fore .forecast{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 150px;
        margin: 1rem;
    }

    main .content-box .content-box-article{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .content-box .towns{
        max-width: 72em;
    }

    .towns section{
        grid-template-columns: repeat(2, 1fr);
    }

    .towns section img{
        grid-row: 1/6;
    }

    section:nth-child(odd) img{
        grid-column: 2/3;
    }

    .towns section h2{
        font-size: 1.4rem;
    }

    .content-box .content-box-article p{
        flex: 1 100%;
    }

    .content-box .content-box-article figure{
        margin: 0 1rem;
    }

    .content-box .content-box-article figure figcaption{
        font-size: .8em;
    }

    .labelForm input{
        height: 30px;
    }

    main .content-box .content-box-contact{
        display: flex;
        justify-content: space-between;
    }

    main .content-box .grid-gallery{
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    main .content-box .grid-gallery figure img{
        height: 250px;
    }

    iframe{
        display: block;
    }

    .content-box form fieldset{
        margin: 0 auto;
        width: 70%;
        max-width: 30rem;
    }

    .content-box form fieldset .labelForm{
        width: 70%;
    }

    footer .bottom-box p{
        font-size: .8em;
    }

    footer .bottom-box span{
        font-size: 1em;
    }
}