@media(min-width: 32.5em){
    header nav ul{
        display: flex;
        justify-content: space-around;
    }

    nav ul li{
        float: left;
        width: 20%;
    }

    .content-box figure img,
    footer figure img{
        margin: 0 auto;
    }
}