@charset "utf-8";

*, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(255, 255, 255);
    color: rgb(55, 55, 55);
}

main{
    background-color: rgb(242, 242, 242);
}

main, header{
    display: flex;
    flex-direction: column;
}

main header .top-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 115);
}

main header .top-container img{
    height: 60px;
    margin: 0 10px 0 5px;
}

header .top-container .headings-box h1{
    margin: 0;
    color: rgb(242, 242, 242);
    font-size: 1.4em;
}

header .top-container .headings-box h2{
    margin: 0;
    color: rgb(242, 242, 242);
    font-size: 1em;
}

main header nav{
    background-color: rgb(70, 181, 224);
}

header nav ul li{
    list-style: none;
    text-align: center;
}

nav ul li a{
    display: block;
    color: rgb(55, 55, 55);
    text-decoration: none;
    padding: 10px 0;
    width: 100%;
    font-size: .8em;
}

nav ul li a:hover,
nav ul li.active a{
    background-color: rgb(215, 215, 215);
    color: rgb(55, 55, 55);
}

nav ul li ul li{
    display: none;
}

/* ul li:hover ul li{  DROPDOWN MENU IS NOT WORKING / DONT'T KNOW WHY / SEE LATER
    display: block;
} */

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

main .container{
    display: flex;
    flex-direction: column;
}

main .container .content-box{
    margin: 15px 0;
}

main .container .content-box ul{
    list-style: none;
}

main .container .content-box h3,
main .container .content-box p{
    margin: 0 0 15px 5px;
}

main .container .content-box p{
    font-size: .8em;
}

main .container .content-box a{
    font-size: 1em;
}

main .container .content-box strong{
    font-size: 1em;
}

.container .content-box .typo{
    padding-left: 10px;
}

.content-box ul li p{
    padding: 0 10px;
}

h4{
    font-size: .85em;
    margin: 0 0 10px 15px;
}

footer{
    background-color: rgb(0, 0, 115);
    width: 100%;
    padding-bottom: 10px;
}

.content-box figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px auto;
}

.content-box figure img,
footer figure img{
    width: 100%;
}

.content-box figure figcaption,
footer figure figcaption{
    font-size: .8em;
    color: rgb(215, 215, 215);
    text-align: center;
}

.content-box figure figcaption{
    color: rgb(55, 55, 55);
}

footer .bottom-box a,
footer .bottom-box p{
    display: block;
    text-align: center;
    font-size: .8em;
    color: rgb(215, 215, 215);
}